.educationImageCarousel img {
  border-radius: 10px;
  width: 70%;
}

.educationPanel {
  margin-top: 40px;
  text-align: center;
}

.educationPanel h1 {
  margin-bottom: 30px;
}

.educationPanel h3 {
  margin-top: 30px;
  font-weight: 300;
}

.educationEmphasis {
  color: #bcdbe9;
}
