.bookingHeader h1 {
  font-weight: 300;
  margin-bottom: 40px;
  font-size: 3em;
}

.textEmphasis {
  color: #f0a5a7;
}

.addressContainer {
    border: 1px solid #555555;
    width: 100%;
}

.bookingForm input {
  display: block;
  margin-top: 60px;
  border: none;
  width: 100%;
  font-size: 1.3em;
  font-weight: 300;
  border-bottom: 1px solid #BDBDBD;
}

.bookingSubmit {
  float: right;
  background: #f0a5a7;
  color: white;
  font-size: 1.3em !important;
  border-radius: 10px;
  width: 120px;
}

.riderPanel {
  margin-top: 50px;
  margin-bottom: 35px;
  height: 125px;
  text-align: center;
}

.ridersHeader {
  font-weight: 300;
  font-size: 1.3em;
  text-align: center;
}
