.riders {
  font-size: 3.8em;
  cursor: pointer;
}

.newRiders {
  margin-left: 8px;
  font-size: 4.2em;
  cursor: pointer;
}

.riders path {
  color: #bcdbe9;
}

#firstRider {
  cursor: default;
}

#firstRider path:hover {
  color: #bcdbe9 !important;
}

.riders path:hover {
  color: #f0a5a7;
}

.newRiders path {
  height: 55px;
}

.newRiders path:hover {
  color: green;
}

.riderText {
  text-align: center;
  margin-top: 10px;
  font-size: 1em;
}
